.blog-list-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  list-style-type: none;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 992px) {
  .blog-list-container {
    width: 70%;
  }
}
